@charset 'UTF-8';


@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
    --fonte-subtitulos: 'Macondo', cursive;
    --fonte-texto: 'Montserrat', sans-serif;
    --font-title:'Bebas Neue', cursive;

    --cor1: #28104E;
}
*{
    margin: 0;
    padding: 0;
}

/*Cabeçalho*/

header > h1{
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
    font-family: var(--fonte-subtitulos);

} 
nav{
    background-color: black;
    text-align: center;
}
nav > a{
    text-decoration: none;
    color: white;
    padding: 15px;
    
}

/*Conteudo do site*/
body{

}
article{
    margin: auto;
    text-align: center;
}
article > h1{
    text-align: center;
    font-family: var(--fonte-subtitulos);
    margin: 2rem;
}
article > p{
    font-family: var(--fonte-texto);
    display: flex;
    width: 80%;
    text-align: justify;
    margin: auto;
    color: black;
    padding: 20px;
}
img{
    max-width: 80%; 
    min-width: 300px; 
    
}
main{
    
}