@charset 'UTF-8';

/*Fontes*/

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');


:root{
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html, body{
    font-family: var(--font1);
    min-height: 100vh;
    background-color: darkgrey;
}

